{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "jest": true
    },
    "plugins": [
        "react",
        "react-native",
        "css-modules"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:css-modules/recommended",
        "plugin:react-native/all"
    ],
    "rules": {
        "react/prop-types": ["error", { "ignore": ["navigation"] }]
    }
}
